<!--footer-->
<div class="footer">
    <div class="footer_a_cen">
        <div class="footer_a">
            <img src="/images/minor_logo.png" alt="行政院工程委員會商標圖">
        </div>
        <div class="footer_a">
            <div class="col-lg-4">
                <p>系統免費客服電話：0800-080-512</p>
            </div>
            <div class="col-lg-4">
                <p>工程會地址：臺北市信義區松仁路3號9樓</p>
            </div>
            <div class="col-lg-4">
                <p>中央採購稽核小組電話：(02)87897548</p>
            </div>
            <div class="col-lg-4">
                <p>客服傳真：0800-080-511</p>
            </div>
            <div class="col-lg-4">
                <p>本會採購申訴審議委員會電話：(02)87897530</p>
            </div>
            <div class="col-lg-4">
                <p>傳真：(02)87897554</p>
            </div>
        </div>
        <div style="height: 30px"></div>
    </div>
    <div class="footer_b">
        <div class="footer_a_cen">
            <div class="col-lg-6">
                <div class="footer_text_a">政府電子採購網 版權所有 © 2019</div>
            </div>
            <div class="col-lg-6">
                <div class="footer_text_a">支援瀏覽器版本為Google Chrome 79.0.3945.117以上，解析度1280 X 960</div>
            </div>
        </div>
    </div>
</div>

<!--footerEND-->