<!--TOP-->
<div class="top">
    <div class="top_a">
        <div class="top_a_cen">
            <div class="top_a_l">
                <ul>
                    <!--上方內容導盲磚-->
                    <a href="#U" id="AU" name="U" title="上方功能區塊" class="guide" accesskey="U">:::</a>
                </ul>
            </div>
            <div class="top_a_r">
                <div class="top_a_r_1"><img src="/images/r_btn1.png" alt="前往正式區的按鈕"></div>
                <div class="top_a_r_2"><img src="/images/r_btn2.png" alt="前往練習區的按鈕"></div>
            </div>
        </div>
    </div>
    <div class="top_b">
        <h1>政府電子採購網</h1>
    </div>
    <script>
        //根據功能與步驟顯示功能頁簽
        $(function(){
            var method = document.baseURI.split("/"); 
            $('#' + method[3] + '_tag').show();
            $('#' + method[4]).attr('class', 'click');
        });  
    </script>
    <div class="top_c">
        <ul id="docUpload_tag" style="display: none">
            <li id="step1">一般設定</li>
            <li id="step2">文件編輯</li>
            <li id="step3">文件簽章</li>
            <li id="step4">文件上傳</li>
        </ul>
        <ul id="docDownload_tag" style="display: none">
            <li id="step1">一般設定</li>
            <li id="step2">下載文件</li>
            <li id="step3">輔助功能</li>
        </ul>
        <!-- 其他功能 ...... -->
    </div>
</div>
<!--TOPEND-->