<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>test</p> 
    <p>test2</p>
    <form action="/docUpload/step1" method="POST">
      <input type="hidden" name="orgId" value="9.99"/>
      <input type="hidden" name="tenderCaseNo" value="andy-test-01"/>
      <input type="hidden" name="tenderName" value="測試" />
      <input type="hidden" name="tenderSq" value="01"/>
      <input type="hidden" name="docCharge" value="20"/>
      <input type="hidden" name="total" value="20"/>
      <input type="submit" value="文件上傳"/>
    </form>

  </body>
</html>
