<!doctype html>
<html lang="zh-tw" xml:lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>政府電子採購網</title>
    <link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tab_menu.css" />
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/my_css.css">
    <script src="/javascripts/calendar.js"></script>
    <!--日期-->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!--含式庫-->
    <script src="/javascripts/tab.js"></script>
    <!--頁簽-->
    <script type="text/javascript" src="/javascripts/menu.js"></script>
    <!--下拉選單-->
    <style>
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
        .button {
            padding: 3px 9px;
            background-color: #E70D11;
            border-radius: 5px;
            margin-left: 5px;
            border-style: solid;
            border-width: 0.5px;
            text-align: center;
            color: #fff;
            font-weight: 600;
            -webkit-box-shadow: 2px 2px 0px 0px rgba(76, 76, 76, 0.75);
            -moz-box-shadow: 2px 2px 0px 0px rgba(76, 76, 76, 0.75);
            box-shadow: 2px 2px 0px 0px rgba(76, 76, 76, 0.75);
        }
    </style>

</head>

<body>
    <!--TOP-->
    <% include header %>

    <div class="middle_1">
        <div class="middle_1_cen">
            <!--中間內容導盲磚-->
            <a href="#C" id="AC" name="C" title="中間功能區塊" class="guide" accesskey="C">:::</a>
            <!--主要左邊欄位-->
            <div class="middle_1_cen_big">
                    <div id="content">
                        <div class="body">
                            <h3>步驟2：文件編輯</h3>
                            <hr>
                            <table width="" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="fileListDiv">
                                                <% if (fileList != undefined) { %>
                                                    <ul>
                                                        <% let name = "" %>
                                                        <% for(let i=0 ; i< fileList.length ; i++){ %>
                                                            <% name = fileList[i].substring(1, fileList[i].length) %>
                                                            <li><%= fileList[i] %><button class="button" onclick="delFile( '<%=name%>' )">x</button></li>
                                                        <% } %>
                                                    </ul>
                                                <% } %>
                                            </div>
                                        </td>
                                        <td>
                                            <label for="file-upload" class="btn_1 btn_blue">新增文件(檔案)</label>
                                            <input type="file" id="file-upload" class="btn_1 btn_blue" name="single">
                                            <br>
                                            <label for="file-upload2" class="btn_1 btn_blue">新增文件(資料夾)</label>
                                            <input type="file" id="file-upload2" class="btn_1 btn_blue" name="multiple" webkitdirectory multiple>
                                            <br>
                                            <label for="file-upload3" class="btn_1 btn_blue">投標須知</label>
                                            <input type="file" id="file-upload3" class="btn_1 btn_blue" name="tender">
                                        </td>
                                        <td>
                                            <br>
                                            <div class="text_edit" style="color: #0C1EAB">當日修改與更正公告時請保留未更動之文件<br><br>
                                                <div style="color: #E70D11">文件(預備給廠商領取之所有文件)</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <form action="/docUpload/step3" method="POST" >
                                <div class="center_btn">
                                    <input type="button" class="btn_1" value="＜上一頁" onclick="history.go(-1);">
                                    <input type="submit" class="btn_1" value="下一頁＞">
                                    <input type="button" class="btn_1" value="完成">
                                    <input type="button" class="btn_1" value="取消">
                                </div>
                            </form>
                        </div>
                        <!--end of body-->
                    </div>
                    <!--end of content-->
                

                <div class="h_sp"></div>
                <!--首頁撐白色用-->

            </div>
        </div>
        <!--主要左邊欄位END-->

        <script>
            function delFile(fileName) {
                let url = "http://localhost:3000/docUpload/deleteFile";
                let sendInfo = {
                    'fileName': fileName
                }
                $.ajax({
                    type : "POST",
                    url: url,
                    data: sendInfo,
                    dataType: "json",
                    success : function(res){
                        console.log(res);
                        $("#fileListDiv")[0].innerHTML = res.listHtml;
                    },
                    error :function(res){
                        console.log(res);
                    }
                });
            } 

            $("#file-upload").change(function doUploadTemp(){
                let formData = new FormData();
                let file = $("#file-upload")[0].files[0];
                //因為傳資料夾時要取得路徑，需要把路徑編碼，所以這邊統一把檔名編碼，到後端再解碼
                formData.append("single", file, btoa(encodeURIComponent(file.name)));
                //利用split切割，拿到上傳檔案的格式
                let src=file.name;
                let format=src.split(".")[1]; 
                //使用if判斷上傳檔案格式是否符合                                                          
                if(format != 'lnk'){
                    //只有滿足以上格式時，才會觸發ajax請求
                    console.log('start temp upload');
                    // for (var key of formData.entries()) {
                    //     console.log(key[1]);
                    // }
                    let url = "http://localhost:3000/docUpload/uploadTemp";
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: formData,
                        contentType : false,
                        processData : false,
                        success : function(res){
                            console.log(res);
                            $("#fileListDiv")[0].innerHTML = res.listHtml;
                        },
                        error :function(res){
                            console.log(res);
                        }
                    });
                } else {
                    alert(".lnk格式不支援上傳!")
                }
            });
            $("#file-upload2").change(function doMultiUploadTemp(){
                let formData = new FormData();
                let files = $("#file-upload2")[0].files;
                //利用split切割，拿到上傳檔案的格式
                let src="";
                let format=""; 
                console.log(files);
                // 如果有一個檔案是捷徑檔就跳警告不上傳
                for (let index = 0; index < files.length; index++) {
                    src = files[index].name;
                    format=src.split(".")[1];
                    if (format == 'lnk') {
                        alert(".lnk格式不支援上傳!");
                        return;
                    } else {
                        //因為要保留資料結構，所以把webkitRelativePath路徑編碼，避免被express解碼掉。
                        formData.append('multiple', files[index], btoa(encodeURIComponent(files[index].webkitRelativePath)));
                        console.log(files[index].webkitRelativePath);
                    }
                }
                console.log('start temp multiupload');
                let url = "http://localhost:3000/docUpload/multiUploadTemp";
                $.ajax({
                    type : "POST",
                    url : url,
                    contentType : false,
                    processData : false,
                    data: formData,
                    success : function(res){
                        console.log(res);
                        $("#fileListDiv")[0].innerHTML = res.listHtml;
                    },
                    error :function(res){
                        console.log(res);
                    }
                });
            });
            $("#file-upload3").change(function doUploadTenderTemp(){
                let formData = new FormData();
                let file = $("#file-upload3")[0].files[0];
                //因為傳資料夾時要取得路徑，需要把路徑編碼，所以這邊統一把檔名編碼，到後端再解碼
                formData.append('tender', file, btoa(encodeURIComponent(file.name)));
                //利用split切割，拿到上傳檔案的格式
                let src=file.name;
                let format=src.split(".")[1]; 
                //使用if判斷上傳檔案格式是否符合                                                          
                if(format != 'lnk'){
                    //只有滿足以上格式時，才會觸發ajax請求
                    console.log('start temp upload');
                    let url = "http://localhost:3000/docUpload/uploadTenderTemp";
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: formData,
                        contentType : false,
                        processData : false,
                        success : function(res){
                            console.log(res);
                            $("#fileListDiv")[0].innerHTML = res.listHtml;
                        },
                        error :function(res){
                            console.log(res);
                        }
                    });
                } else {
                    alert(".lnk格式不支援上傳!")
                }
            });
        </script>
        <% include footer %>

</body>

</html>