@charset "utf-8";
/* CSS Document */
body{
	background-color: #DDD5B8;
}
.middle_1_cen_big{
	width: 1100px;
}
.top_c li{
	margin: 0px;
	padding: 5px;
}
.top_c li a{
	line-height: 49px;
}
.top_c li a:hover{
	color:#C54F2E;
}
table{
	margin-bottom: 10px;
}
h3{
	color: #232CC7;
	font-weight: bolder;
}
.btn_1{
	font-size: 15px;
}
.btn_1:hover{
	background-color:#939393;
}
.center_btn{
	text-align: center;
}
.btn_blue{
	background-color: #7793DF;
}
.btn_blue:hover{
	background-color:#1D7DD7;
}
.btn_red{
	background-color:#F34141;
}
.btn_red:hover{
	background-color:#F4282B;
}
.btn_white{
	background-color: #FFFFFF;
	color: #000000;
	border: thin solid;
}
.btn_white:hover{
	background-color:#D7D7D7;
}
.btn_right{
	float: right;
	margin-right: 20px;
}
.border{
	border: thin solid;
	padding-left: 10px;
}
.form-control{
	color: #000000;
}
.click{
	background-color: #FFBF87;
	text-decoration: underline;
	color: #FFFFFF;
}
