
li {
	list-style-type: none;
}

img {
	border: 0px;
	vertical-align: middle;
}

a {
	text-decoration: none;
	outline: none;
	blr: expression(this.onFocus=this.blur());
}

.clear {
	clear: both;
}

.ce {
	display: block;
	width: 100%;
	
	z-index: 5;
	top: 0px;
	left: 0px;
}
.t_menu_a{
    background: #7bba16;
    border-radius: 26px;
    z-index: 99;
    position: relative;
    text-align: center;
    margin-bottom: 11px;
}
.t_menu_b{
    background: #079ba2;
    border-radius: 26px;
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 11px;
}
.ce li {

}



.ce li a {
	color: white;
    display: block;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 900;
}

.ce li a:hover {
}

.ce li .dqian {
	background: none
}

.ce li .xz {

}

.er {
    display: none;
    margin-top: 0px;
    text-align: left;
	background: #fff;
}
.er2 {
    display: none;
    margin-top: 0px;
    text-align: left;
	background: rgba(255,255,255,0.00)!important;
}
.er li {
	width: 100%;
	
}
.er li img{
	width: 6px;
	margin-right: 7px;
	
}
.er li a {
	display: block;
	    padding: 3px 5px 3px 12px;
	color: #000;
	background: none;
	font-size: 1em;
}
.er2 li a {
	display: block;
	    padding: 3px 5px 3px 12px;
	color: #fff;
	background: none;
	font-size: 1em;
}
.lv3{
    background-image: url(../images/menu_arr.png);
    background-size: 6px;
    background-position-x: 0px;
    background-position-y: 14px;
    background-repeat: no-repeat;
}
.lv4{
    width: 173px!important;
    background-image: url(../images/menu_arr.png);
    background-size: 6px;
    background-position-x: 0px;
    background-position-y: 14px;
    background-repeat: no-repeat;
}
.er .e_li a {
}

.er li a:hover,.er li .sen_x {
    color: #000;
}

.er .e_li a:hover,.er .e_li .sen_x {
}



.thr {
	display: none;
	
}


.er .e_li .thr li a {
	background: none;
}

.er .e_li .thr li a:hover {
	
}

.er .e_li .thr li .xuan {
	
}

.for {
	display: none;
}
.four_m{
	float: left;
    width: 10px;
}
.four_m2{
	float: left;
    width: 180px;
	font-weight: 900;
}
.thr li {
    /* margin-bottom: 1px; */
    /* border-top: 1px solid rgb(180,180,180); */
    position: relative;
    margin-left: 28px;
    width: 204px;
}

.er .e_li .thr li .for li a:hover {
	
}

.er .e_li .thr li .for li .cloud {
	
}

.more1 {
	margin-left: 28px;
	margin-top: -4px;
}



.ti {
	width: 29px;
	height: 29px;
	float: left;
	padding-top: 3px;
	cursor: pointer;
	text-align: center;
	margin-right: 10px;
	margin-top: 40px;
	margin-left: 20px;
	background: url(../images/11.png) no-repeat;
}

.inpu {
	cursor: pointer;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	width: 29px;
	height: 29px;
}

.span {
	float: left;
	display: block;
	padding: 4px 40px 0px 0px;
	color: #000;
}

.tu1 {
	width: 29px;
	height: 29px;
	float: left;
	padding-top: 3px;
	cursor: pointer;
	text-align: center;
	margin-right: 10px;
	margin-top: 40px;
	margin-left: 20px;
	background: url(../images/22.png) no-repeat;
}

.span1 {
	color: #f00;
	float: left;
	display: block;
	padding: 4px 40px 0px 0px;
}

.span2 {
	color: #000;
}
























